@font-face {
  font-family: "iconfont"; /* Project id 3196585 */
  src: url('iconfont.woff2?t=1645493953722') format('woff2'),
       url('iconfont.woff?t=1645493953722') format('woff'),
       url('iconfont.ttf?t=1645493953722') format('truetype');
}

[class*='uui-icon-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uui-icon-edit:before {
  content: "\e7e1";
}

.uui-icon-gengduo:before {
  content: "\e600";
}

.uui-icon-warning-circle:before {
  content: "\e6f9";
}

.uui-icon-more-outline:before {
  content: "\e660";
}

.uui-icon-error:before {
  content: "\e62b";
}

.uui-icon-search:before {
  content: "\e648";
}

.uui-icon-delete:before {
  content: "\e69d";
}

.uui-icon-circlecheck:before {
  content: "\e681";
}

.uui-icon-phone:before {
  content: "\e67d";
}

.uui-icon-remove:before {
  content: "\e65d";
}

.uui-icon-minus:before {
  content: "\e6ba";
}

.uui-icon-setting:before {
  content: "\e78e";
}

.uui-icon-user:before {
  content: "\e7ae";
}

.uui-icon-check:before {
  content: "\e7fc";
}

.uui-icon-zoomin:before {
  content: "\e898";
}

.uui-icon-success:before {
  content: "\e73c";
}

.uui-icon-plus:before {
  content: "\e8fe";
}

.uui-icon-close:before {
  content: "\e69e";
}

.uui-icon-star-on:before {
  content: "\e610";
}

.uui-icon-circle-close:before {
  content: "\e63f";
}

.uui-icon-circle-plus-outline:before {
  content: "\e640";
}

.uui-icon-delete-solid:before {
  content: "\e64e";
}

.uui-icon-goods:before {
  content: "\e657";
}

.uui-icon-success1:before {
  content: "\e67f";
}

.uui-icon-zoom-in:before {
  content: "\e683";
}

.uui-icon-circle-plus:before {
  content: "\e667";
}

.uui-icon-s-help:before {
  content: "\e676";
}

.uui-icon-s-goods:before {
  content: "\e677";
}

.uui-icon-s-tools:before {
  content: "\e678";
}

.uui-icon-star-off:before {
  content: "\e67c";
}

.uui-icon-warning-outline:before {
  content: "\e682";
}

.uui-icon-user-solid:before {
  content: "\e684";
}

.uui-icon-Phone-outlined:before {
  content: "\e707";
}

